.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: round;
  align-items: center;
  min-height: 10vh;
  background: lightseagreen;
  color: whitesmoke;

}

.logo {
  margin-left: 30px;
}

.nav-links{
  width: 50%;
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  max-width: 200px;
}

li {
  padding: 10px;
}